/* Panels */
.panel-box {
    padding: 12px;
}

.panel {
    color: #474747;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    height: 100%;
}

.panel-btn {
    float: right;
}

.panel-content {
    margin: 0;
}

/* ListItem */
.list-item {
    border-bottom: solid 1px #eee;
    padding: 4px 5px;
    width: 100%;
}

.list-item > .date-box {
    float: left;
    color: #69bf74;
    width: 14%;
    max-width: 50px;
    text-align: center;
}

.list-item > .list-content {
    /* padding-left: 5px; */
}

.date-day {
    font-size: 20px;
}

.date-month {
    font-size: 11px;
}

/* Custom Vaadin Components */
.icon-grey {
    color: #c4c4c4
}

